[Unit]
Description=Markov Mutagen Frontend Service
After=network.target

[Service]
KillMode=none
ExecStart=/usr/bin/grunt serve
Restart=on-failure
WorkingDirectory=/home/{{ created_user }}/markov-mutagen/

[Install]
WantedBy=multi-user.target
